{% extends 'base.html.twig' %}

{% block title %}Nos Biens{% endblock %}

{% block body %}
<style>

</style>

<div class="container mt-4 text-center">
    <h1>Voir tous nos Biens</h1>

</div>
{% endblock %}
